// border-radius
$utilities: (
  "border-radius": (
    property: border-radius,
    class: br,
    values: (
      4: 4px,
      8: 8px,
      12: 12px,
      16: 16px,
      32: 32px,
      40: 40px,
      56: 56px,
      120: 120px,
      999: 999px,
    ),
    responsive: true,
  ),
  "border-radius-tl": (
    property: border-top-left-radius,
    class: br-tl,
    values: (
      4: 4px,
      8: 8px,
      12: 12px,
      16: 16px,
      32: 32px,
      40: 40px,
      56: 56px,
      120: 120px,
      999: 999px,
    ),
    responsive: true,
  ),
  "border-radius-tr": (
    property: border-top-right-radius,
    class: br-tr,
    values: (
      4: 4px,
      8: 8px,
      12: 12px,
      16: 16px,
      32: 32px,
      40: 40px,
      56: 56px,
      120: 120px,
      999: 999px,
    ),
    responsive: true,
  ),
  "border-radius-bl": (
    property: border-bottom-left-radius,
    class: br-bl,
    values: (
      4: 4px,
      8: 8px,
      12: 12px,
      16: 16px,
      32: 32px,
      40: 40px,
      56: 56px,
      120: 120px,
      999: 999px,
    ),
    responsive: true,
  ),
  "border-radius-br": (
    property: border-bottom-right-radius,
    class: br-br,
    values: (
      4: 4px,
      8: 8px,
      12: 12px,
      16: 16px,
      32: 32px,
      40: 40px,
      56: 56px,
      120: 120px,
      999: 999px,
    ),
    responsive: true,
  ),

  "font-size": (
      rfs: true,
      property: font-size,
      class: fs,
      values: $font-sizes,
      responsive: true
    ),
);

// 重新定義 font-size
$utilities: map-merge(
  $utilities,
  (
    "font-size": (
      property: font-size,
      class: fs,
      values: $font-sizes,
      responsive: true,
    ),
  )
);