// 字體
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

// 變數、通用樣式
@import "./utils/variables-custom";
@import "./utils/utilities";
@import "../../node_modules/bootstrap";
@import "bootstrap/scss/utilities/api";

// Bootstrap
// @import "bootstrap/scss/bootstrap";

// 註記討論 : 這裡是又改回來這樣的形式嗎?
// 變數、通用樣式
// @import "./utils/variables-custom";
// @import "./utils/utilities";
// @import "../../node_modules/bootstrap";
// @import "bootstrap/scss/utilities/api";

// base
@import "./base/reset";
@import "./base/base";

// layout
@import "./layout/footer";
@import "./layout/header";
@import "./layout/header-profile";

//page
@import "./pages/index";
@import "./pages/item_details";
@import "./pages/order";
@import "./pages/cart";
@import "./pages/news";
@import "./pages/login";
@import "./pages/join";
@import "./pages/password";

@import "./pages/item_details";

@import "./pages/item_details";
@import "./pages/privacy";
@import "./pages/return";
@import "./pages/story";
