// 漢堡選單打招呼的區塊
.user-border {
  box-shadow: 0px 0px 0px 4px #e8901826;
}

// 移除漢堡選單點擊時的邊框
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

// 數量的按鈕樣式去除
.btn-none {
  background: none;
  border: none;
  padding: 0;  
  cursor: pointer;
  display: flex; 
  align-items: center;
  justify-content: center;  
}

.btn-icon:focus {
  outline: none;
}

// 購物車 modal (桌面版)
.fs-T-S {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 4%;
  color: $neutral-80;
}

.fs-T-M {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  color: $neutral-100;
}

// 商品列表的下拉選單對齊
#productList + .dropdown-menu {
  min-width: 100%;
}

// nav 點擊時顯現 border
.nav-item .nav-link {
  border-bottom: 2px solid transparent;
}

.nav-link.show.fw-700 {
  font-weight: 700;
  display: inline-block;
  border-bottom: 2px solid $primary-40;
}

.nav-link.show.fw-400 {
  font-weight: 400;
  display: inline-block;
  border-bottom: 2px solid $primary-40;
}

// ICON 狀態
.bg-primary-20:hover,
.bg-primary-20:active {
  background-color: $primary-40 !important;
}

.bg-primary-20:hover svg,
.bg-primary-20:active svg{
  color: $neutral-white !important;
}

.bg-primary-20:hover span,
.bg-primary-20:active span{
  color: $neutral-white !important;
}

// 選單狀態
.navbar .nav-link.text-neutral-100 {
  display: inline-block;
  color: $neutral-100;
}

.navbar .nav-link.text-neutral-100:hover,
.navbar .nav-link.text-neutral-100:active {
  color: $primary-40 !important;
  font-weight: 700;
  border-bottom: 2px solid $primary-40;
}

// 按鈕狀態
.btn-outline-primary-80:active,
.btn-outline-primary-80:hover {
  color: #ffffff !important;
  background-color: #e89018 !important;
  border-color: #e89018 !important;
}
