
.login-bg{

    .password-donut-1{
        max-width: 150px;
        top: 150px;
        left: 200px;
    }
    
    .password-donut-2{
        max-width: 150px;
        top: 300px;
        right: 80px;
    }
    
    .password-donut-3{
        max-width: 200px;
        bottom: 50px;
        left: -30px;
    }
    
    .password-donut-4{
        max-width: 120px;
        top: 130px;
        right: 300px;
    }
    
    .password-donut-5{
        max-width: 90px;
        top: 195px;
        right: -20px;
    }
}
