<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="container py-14 px-3 py-lg-24">
      <img src="/assets/images/Frame.svg" alt="">
      <h2 class="index-title">
        <span class="pe-1">甜甜</span><span>報你知</span>
      </h2>


    </section>
    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
