<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>甜甜熊貓｜TenTen Donut - 甜點專賣</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- section 1 雪夜莓語-->
    <section>
      <div class="container-fluid py-lg-8 pt-3 pb-8 position-relative">
        <div class="banner-img mx-auto position-relative">
          <img
            src="../assets/images/banner.jpg"
            alt=""
            class="banner-boder-radius-lg w-100 h-100 object-fit-cover"
          />
          <!-- 雪夜莓語-白底 -->
          <div
            class="bg-white p-lg-4 p-2 banner-seasonal-title position-absolute d-flex flex-column gap-lg-6 gap-2 justify-content-lg-end"
          >
            <img
              src="../assets/images/banner-seasonal-title.svg"
              alt=""
              class="banner-seasonal-title-img"
            />
            <p class="lh-base fs-7 fs-lg-6 text-neutral-80">
              在冬夜的靜謐裡，<br />莓果低語、雪花作伴，<br />點亮這一季的溫柔時光。
            </p>
          </div>
          <!-- 期間限定-白底 -->
          <div
            class="bg-white ps-2 pe-5 pt-6 pb-5 ps-lg-10 pt-lg-10 banner-seasonal-date position-absolute d-flex"
          >
            <p class="fs-6 fs-lg-3 text-neutral-100">期間限定：10/11~1/11</p>
          </div>
        </div>
        <div class="position-absolute banner-deco" style="top: 10%; left: 1%">
          <img src="../assets/images/graphic-1.png" alt="" />
        </div>
        <div
          class="position-absolute banner-deco"
          style="bottom: 30%; right: 2%"
        >
          <img src="../assets/images/graphic-2.png" alt="" />
        </div>
      </div>
    </section>

    <!-- section 2 甜甜優惠-->
    <section class="pt-14 pb-4 py-lg-24">
      <div
        class="d-flex flex-column align-items-center gap-1 gap-lg-1 pb-6 pb-lg-14"
      >
        <img
          src="../assets/images/section-list-donut.svg"
          alt=""
          class="section-list-donut"
        />
        <h2 class="fs-4 fs-lg-2 text-neutral-100">
          <span class="text-primary-40 me-1">甜甜</span>優惠
        </h2>
      </div>
      <div>
        <div class="swiper">
          <!-- 滑動區塊 -->
          <div class="swiper-wrapper">
            <!-- AD-3 -->
            <div class="swiper-slide">
              <div class="sales-ad sales-ad-3 shadow-sm mb-10">
                <div
                  class="d-flex flex-column align-items-center justify-content-center gap-3 gap-lg-8 h-100"
                >
                  <h3 class="fs-4 fs-lg-1 fw-bold text-primary-80">
                    經典不敗！
                  </h3>
                  <p
                    class="fs-7 fs-lg-4 fw-bold text-white px-6 px-lg-14 py-2 py-lg-3 bg-primary-60 rounded-pill"
                  >
                    買五送一優惠中
                  </p>
                </div>
              </div>
            </div>
            <!-- AD-1 -->
            <div class="swiper-slide">
              <div class="sales-ad sales-ad-1 shadow-sm mb-10">
                <div
                  class="d-flex gap-4 gap-lg-12 flex-column align-items-start justify-content-center h-100"
                >
                  <div>
                    <img
                      src="../assets/images/banner-seasonal-title.svg"
                      alt=""
                      class="sales-ad-title"
                    />
                  </div>
                  <h3 class="fs-7 fs-lg-2 text-neutral-100">
                    六款冬季新品上市！
                  </h3>
                  <p
                    class="bg-primary-40 fs-8 fs-lg-6 py-1 py-lg-2 px-2 px-lg-12 text-white rounded-pill"
                  >
                    2025.10.11~2026.01.11
                  </p>
                </div>
              </div>
            </div>
            <!-- AD-2 -->
            <div class="swiper-slide">
              <div
                class="sales-ad sales-ad-2 shadow-sm mb-10 position-relative overflow-hidden"
              >
                <div class="deco-bg-circle position-absolute z-1"></div>
                <div
                  class="d-flex flex-column justify-content-center align-items-start ps-4 ps-lg-20 h-100 position-absolute z-2"
                >
                  <p
                    class="fs-8 fs-lg-6 fw-bold text-primary-60 py-1 px-3 py-lg-3 px-lg-6 bg-primary-20 sales-ad-span mb-2 mb-lg-3"
                  >
                    6種人氣口味一次滿足！
                  </p>
                  <h3
                    class="fs-6 fs-lg-1 fw-bold text-neutral-100 mb-4 mb-lg-12"
                  >
                    綜合甜甜禮盒
                  </h3>
                  <p class="text-neutral-60 fs-8 fs-lg-4 mb-1 mb-lg-2">
                    <del>原價 ＄390</del>
                  </p>
                  <!-- 補 - 手機字體18px、電腦字體72px -->
                  <h4 class="fw-bold text-primary-80 fz18-72-Jenna">$360</h4>
                </div>
              </div>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination d-none d-lg-block"></div>
        </div>
      </div>
    </section>

    <!-- section 5 甜甜報你知-->
    <section class="py-14">
      <!-- 標題 -->
      <div class="d-flex flex-column align-items-center mb-6 mb-lg-14">
        <img
          src="/assets/images/section-list-donut.svg"
          alt="donut-icon"
          class="section-list-donut mb-1 mb-lg-2"
        />
        <h4 class="fs-4 fs-lg-2">
          <span class="me-1 text-primary-40">甜甜</span>報你知
        </h4>
      </div>
      <!-- 消息區塊 -->
      <div class="news container">
        <!-- radios 放最前，checked 控制預設圖 -->
        <input class="d-none" type="radio" name="news" id="n1" checked>
        <input class="d-none" type="radio" name="news" id="n2">
        <input class="d-none" type="radio" name="news" id="n3">
        <input class="d-none" type="radio" name="news" id="n4">

        <div class="row">
          <!-- 右：清單（label 綁 radio） -->
          <div class="col-lg-6 order-lg-2 d-flex flex-column">
            <!-- 消息列表 -->
            <div class="list-group list-group-flush mb-6">
              <!-- 消息 1 -->
              <label for="n1" class="list-group-item list-group-item-action border-0 p-0">
                <a href="#" class="d-block w-100 py-4 px-6">
                  <p class="lh-base fw-normal fs-lg-7 fs-8 text-neutral-60 mb-2">2025/10/03</p>
                  <h3 class="news-title fs-lg-5 fs-6 fw-bold mb-2 text-truncate">甜甜圈原來要這樣吃！網友激推這種方法！</h3>
                  <p class="news-detail lh-base fw-normal text-truncate text-neutral-80">最新話題美食「雪夜莓語」冬季限定系列，不只賣造型，更主打吃法有撇步！店家表示</p>

                </a>
              </label>
              <!-- 消息 2 -->
              <label for="n2" class="list-group-item list-group-item-action border-0 p-0">
                <a href="#" class="d-block w-100 py-4 px-6">
                  <p class="lh-base fw-normal fs-lg-7 fs-8 text-neutral-60 mb-2">2025/10/01</p>
                  <h3 class="news-title fs-lg-5 fs-6 fw-bold text-truncate mb-2 text-truncate">冬季限定｜北海道奶油Ｘ大湖草莓！雪夜莓語六款甜甜圈溫暖上市！</h3>
                  <p class="news-detail lh-base fw-normal text-truncate text-neutral-80">草莓的季節又來囉！冷冷的天有甜甜熊貓帶給您溫暖的甜食！季節限定產品「雪夜莓語」，六款甜甜新發售</p>

                </a>
              </label>
              <!-- 消息 3 -->
              <label for="n3" class="list-group-item list-group-item-action border-0 p-0">
                <a href="#" class="d-block w-100 py-4 px-6">
                  <p class="lh-base fw-normal fs-lg-7 fs-8 text-neutral-60 mb-2">2025/6/20</p>
                  <h3 class="news-title fs-lg-5 fs-6 fw-bold mb-2 text-truncate">焦糖可可甜甜｜蹦出新滋味 🥳</h3>
                  <p class="news-detail lh-base fw-normal text-truncate text-neutral-80">冬天想找人依偎嗎？來來來，暖男暖女這不就來了嗎！濃醇可可搭配香甜可口甜甜圈，溫暖你的心</p>

                </a>
              </label>
              <!-- 消息 4 -->
              <label for="n4" class="list-group-item list-group-item-action border-0 p-0">
                <a href="#" class="d-block w-100 py-4 px-6">
                  <p class="lh-base fw-normal fs-lg-7 fs-8 text-neutral-60 mb-2">2025/6/20</p>
                  <h3 class="news-title fs-lg-5 fs-6 fw-bold mb-2 text-truncate">生乳檸檬甜甜｜熱烈開賣中 🥳</h3>
                  <p class="news-detail lh-base fw-normal text-truncate text-neutral-80">生乳檸檬甜甜清爽登場！選用新鮮檸檬製成果泥，結合滑順法式生乳內餡，滑順口感讓人愛不釋手</p>

                </a>
              </label>
            </div>
            <button type="button" class="btn more-btn btn-pd-16-32 fs-6 border-radius-4 align-self-lg-end align-self-center">
              瀏覽更多
            </button>
          </div>

          <!-- 左：預覽圖 -->
          <div class="col-lg-6 order-lg-1 d-none d-lg-flex">
            <div class="ratio ratio-4x3 position-relative news-preview">
              <img src="/assets/images/ad-news-1.png"  alt="p1" class="preview-img" data-key="1">
              <img src="/assets/images/ad1.png"  alt="p2" class="preview-img ad1-news" data-key="2">
              <img src="/assets/images/ad-news-3.png"  alt="p3" class="preview-img" data-key="3">
              <img src="/assets/images/ad-news-4.png"  alt="p4" class="preview-img" data-key="4">
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
