<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>甜甜熊貓｜TenTen Donut - 甜點專賣</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section>
      <div class="container-fluid py-lg-8 pt-3 pb-8 position-relative">
        <div class="banner-img mx-auto position-relative">
          <img src="../assets/images/banner.jpg" alt="" class="banner-boder-radius-lg w-100 h-100 object-fit-cover">
          <!-- 雪夜莓語-白底 -->
          <div class="bg-white p-lg-4 p-2 banner-seasonal-title position-absolute d-flex flex-column gap-lg-6 gap-2 justify-content-lg-end">
            <img src="../assets/images/banner-seasonal-title.svg" alt="" class="banner-seasonal-title-img">
            <p class="lh-base fs-7 fs-lg-6 text-neutral-80">在冬夜的靜謐裡，<br>莓果低語、雪花作伴，<br>點亮這一季的溫柔時光。</p>            
          </div>
          <!-- 期間限定-白底 -->
          <div class="bg-white ps-2 pe-5 pt-6 pb-5 ps-lg-10 pt-lg-10 banner-seasonal-date position-absolute d-flex">
            <p class="fs-6 fs-lg-3 text-neutral-100">期間限定：10/11~1/11</p>
          </div>
        </div>
        <div class="position-absolute banner-deco" style="top: 10%; left: 1%;">
          <img src="../assets/images/graphic-1.png" alt="">
        </div>
        <div class="position-absolute banner-deco" style="bottom: 30%; right: 2%;">
          <img src="../assets/images/graphic-2.png" alt="">
        </div>
      </div>
    </section>

    <section class="pt-14 pb-4 py-lg-24">
      <div class="d-flex flex-column align-items-center gap-1 gap-lg-1 pb-6 pb-lg-14">
        <img src="../assets/images/section-list-donut.svg" alt="" class="section-list-donut">
        <h2 class="fs-4 fs-lg-2 text-neutral-100"><span class="text-primary-40 me-1">甜甜</span>優惠</h2>
      </div>
      <div>
        <div class="swiper">
          <!-- 滑動區塊 -->
          <div class="swiper-wrapper">
            <!-- AD-3 -->
            <div class="swiper-slide">
              <div class="sales-ad sales-ad-3 shadow-sm mb-10">
                <div class="d-flex flex-column align-items-center justify-content-center gap-3 gap-lg-8 h-100">
                  <h3 class="fs-4 fs-lg-1 fw-bold text-primary-80">經典不敗！</h3>
                  <p class="fs-7 fs-lg-4 fw-bold text-white px-6 px-lg-14 py-2 py-lg-3 bg-primary-60 rounded-pill">買五送一優惠中</p>
                </div>
              </div>
            </div>             
            <!-- AD-1 -->
            <div class="swiper-slide">
              <div class="sales-ad sales-ad-1 shadow-sm mb-10">
                <div class="d-flex gap-4 gap-lg-12 flex-column align-items-start justify-content-center h-100">
                  <div>
                    <img src="../assets/images/banner-seasonal-title.svg" alt="" class="sales-ad-title">
                  </div>
                  <h3 class="fs-7 fs-lg-2 text-neutral-100">六款冬季新品上市！</h3>
                  <p class="bg-primary-40 fs-8 fs-lg-6 py-1 py-lg-2 px-2 px-lg-12 text-white rounded-pill">2025.10.11~2026.01.11</p>
                </div>            
              </div>
            </div>
            <!-- AD-2 -->
            <div class="swiper-slide">
              <div class="sales-ad sales-ad-2 shadow-sm mb-10 position-relative overflow-hidden">
                <div class="deco-bg-circle position-absolute z-1"></div>
                <div class="d-flex flex-column justify-content-center align-items-start ps-4 ps-lg-20 h-100 position-absolute z-2">
                  <p class="fs-8 fs-lg-6 fw-bold text-primary-60 py-1 px-3 py-lg-3 px-lg-6 bg-primary-20 sales-ad-span mb-2 mb-lg-3">6種人氣口味一次滿足！</p>
                  <h3 class="fs-6 fs-lg-1 fw-bold text-neutral-100 mb-4 mb-lg-12">綜合甜甜禮盒</h3>
                  <p class="text-neutral-60 fs-8 fs-lg-4 mb-1 mb-lg-2"><del>原價 ＄390</del></p>
                  <!-- 補 - 手機字體18px、電腦字體72px -->
                  <h4 class="fw-bold text-primary-80 fz18-72-Jenna">$360</h4>
                </div>
              </div>
            </div> 
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination d-none d-lg-block"></div>
        </div>
      </div>
    </section>

    <!-- 甜甜推薦 -->
    <section class="recommend-section">
      <div class="container pt-14">
        <div class="d-flex flex-column align-items-center mb-6 mb-lg-14">
          <img class="section-list-donut mb-1 mb-lg-2" src="/assets/images/section-list-donut.svg"
            alt="section-list-donut">
          <div class="d-flex">
            <h2 class="text-primary-40 fw-normal lh-sm fs-4 fs-lg-2">甜甜推薦</h2>
            <h2 class="text-neutral-100 fw-normal lh-sm fs-4 fs-lg-2 ms-1">推薦</h2>
          </div>
        </div>
      </div>
      <!-- 商品圖片 -->
      <div class="sweet-section overflow-x-hidden">
        <div class="recommend-main position-relative container-lg">
          <img class="position-absolute recommend-bigtitle" src="/assets/images/recommend-bigtitle.png" alt="">
          <div class="py-14 pt-lg-18 pb-lg-30">
            <div class="d-flex flex-column align-items-center mb-6 mb-lg-14">
              <div
                class="nav col-12 col-lg-8 bg-white border border-primary-60 rounded-pill d-flex gap-6 justify-content-center flex-nowrap px-3 py-2 px-lg-6 py-4"
                id="pills-tab" role="tablist">
                <div class="col-6 flex-shrink-1">
                  <button class="w-100 fs-7 fs-lg-4 py-3 py-lg-5 rounded-pill border-0 active" id="pills-limited-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-limited" type="button" role="tab"
                    aria-controls="pills-limited" aria-selected="true">
                    <img src="/assets/images/recommend-left.svg" style="width: 24px;height: 12px;" alt="recommend-left">
                    期間限定
                    <img src="/assets/images/recommend-right.svg" style="width: 24px;height: 12px;"
                      alt="recommend-right">
                  </button>
                </div>
                <div class="col-6 flex-shrink-1">
                  <button class="w-100 fs-7 fs-lg-4 py-3 py-lg-5 rounded-pill border-0" id="pills-permanent-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-permanent" type="button" role="tab"
                    aria-controls="pills-permanent" aria-selected="false">
                    <img src="/assets/images/recommend-left.svg" style="width: 24px;height: 12px;" alt="recommend-left">
                    常駐品項
                    <img src="/assets/images/recommend-right.svg" style="width: 24px;height: 12px;"
                      alt="recommend-right">
                  </button>
                </div>
              </div>
            </div>
            <!-- nav 下方內容 -->
            <div class="tab-content" id="pills-tabContent">
              <!-- 期間限定 -->
              <div class="tab-pane fade show active" id="pills-limited" role="tabpanel"
                aria-labelledby="pills-limited-tab" tabindex="0">
                <form>
                  <!-- 主要區塊 -->
                  <div class="container-lg">
                    <div class="d-flex justify-content-center">
                      <h4 class="d-none d-lg-block fs-6 text-primary-80 lh-base mb-10">＃適合蛋奶素食者食用</h4>
                    </div>
                    <div class="row g-6">
                      <div class="recommend-commodity col-6 col-lg-4 flex-shrink-1">
                        <a href="#" class="card bg-transparent border-0 h-100 align-items-center text-center">
                          <img src="/assets/images/星塵草莓2-光暈.png" class="img-limited img-fluid h-100" alt="星塵草莓">
                          <div class="my-1 my-lg-0">
                            <h5 class="fs-7 fs-lg-5 text-neutral-100 fw-bold mb-1 mb-lg-0">星塵草莓</h5>
                            <p class="fs-7 fs-lg-6 text-primary-80 lh-base">$ 90/入</p>
                          </div>
                        </a>
                      </div>
                      <div class="recommend-commodity col-6 col-lg-4 flex-shrink-1">
                        <a href="#" class="card bg-transparent border-0 h-100 align-items-center text-center">
                          <img src="/assets/images/白雪綿霜莓2-光暈.png" class="img-limited img-fluid h-100" alt="白雪綿霜莓">
                          <div class="my-1 my-lg-0">
                            <h5 class="fs-7 fs-lg-5 text-neutral-100 fw-bold mb-1 mb-lg-0">白雪綿霜莓</h5>
                            <p class="fs-7 fs-lg-6 text-primary-80 lh-base">$ 95/入</p>
                          </div>
                        </a>
                      </div>
                      <div class="recommend-commodity col-6 col-lg-4 flex-shrink-1">
                        <a href="#" class="card bg-transparent border-0 h-100 align-items-center text-center">
                          <img src="/assets/images/莓果可可2-光暈.png" class="img-limited img-fluid h-100" alt="莓果可可">
                          <div class="my-1 my-lg-0">
                            <h5 class="fs-7 fs-lg-5 text-neutral-100 fw-bold mb-1 mb-lg-0">莓果可可</h5>
                            <p class="fs-7 fs-lg-6 text-primary-80 lh-base">$ 95/入</p>
                          </div>
                        </a>
                      </div>
                      <div class="recommend-commodity col-6 col-lg-4 flex-shrink-1">
                        <a href="#" class="card bg-transparent border-0 h-100 align-items-center text-center">
                          <img src="/assets/images/雪莓蒙布郎2-光暈.png" class="img-limited img-fluid h-100" alt="雪莓蒙布郎">
                          <div class="my-1 my-lg-0">
                            <h5 class="fs-7 fs-lg-5 text-neutral-100 fw-bold mb-1 mb-lg-0">星塵草莓</h5>
                            <p class="fs-7 fs-lg-6 text-primary-80 lh-base">$ 90/入</p>
                          </div>
                        </a>
                      </div>
                      <div class="recommend-commodity col-6 col-lg-4 flex-shrink-1">
                        <a href="#" class="card bg-transparent border-0 h-100 align-items-center text-center">
                          <img src="/assets/images/熱紅酒莓果2-光暈.png" class="img-limited img-fluid h-100" alt="熱紅酒莓果">
                          <div class="my-1 my-lg-0">
                            <h5 class="fs-7 fs-lg-5 text-neutral-100 fw-bold mb-1 mb-lg-0">熱紅酒莓果</h5>
                            <p class="fs-7 fs-lg-6 text-primary-80 lh-base">$ 95/入</p>
                          </div>
                        </a>
                      </div>
                      <div class="recommend-commodity col-6 col-lg-4 flex-shrink-1">
                        <a href="#" class="card bg-transparent border-0 h-100 align-items-center text-center">
                          <img src="/assets/images/莓果夾心2-光暈.png" class="img-limited img-fluid h-100" alt="莓果夾心">
                          <div class="my-1 my-lg-0">
                            <h5 class="fs-7 fs-lg-5 text-neutral-100 fw-bold mb-1 mb-lg-0">莓果夾心</h5>
                            <p class="fs-7 fs-lg-6 text-primary-80 lh-base">$ 90/入</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!-- 常駐品項 -->
              <div class="tab-pane fade" id="pills-permanent" role="tabpanel" aria-labelledby="pills-permanent-tab"
                tabindex="0">
                <form>
                  <!-- 主要區塊 -->
                  <div class="container-lg">
                    <div class="d-flex justify-content-center">
                      <h4 class="d-none d-lg-block fs-6 text-primary-80 lh-base mt-14 mb-10">＃適合蛋奶素食者食用</h4>
                    </div>
                    <div class="row g-6">
                      <div class="recommend-commodity col-6 col-lg-4 flex-shrink-1">
                        <a href="#" class="card bg-transparent border-0 h-100 align-items-center text-center">
                          <img src="/assets/images/經典甜甜.png" class="img-classic img-fluid h-100" alt="經典甜甜">
                          <div class="my-1 my-lg-0">
                            <h5 class="fs-7 fs-lg-5 text-neutral-100 fw-bold mb-1 mb-lg-0">經典甜甜</h5>
                            <p class="fs-7 fs-lg-6 text-primary-80 lh-base">$ 65/入</p>
                          </div>
                        </a>
                      </div>
                      <div class="recommend-commodity col-6 col-lg-4 flex-shrink-1">
                        <a href="#" class="card bg-transparent border-0 h-100 align-items-center text-center">
                          <img src="/assets/images/莓果甜甜.png" class="img-classic img-fluid h-100" alt="莓果甜甜">
                          <div class="my-1 my-lg-0">
                            <h5 class="fs-7 fs-lg-5 text-neutral-100 fw-bold mb-1 mb-lg-0">莓果甜甜</h5>
                            <p class="fs-7 fs-lg-6 text-primary-80 lh-base">$ 65/入</p>
                          </div>
                        </a>
                      </div>
                      <div class="recommend-commodity col-6 col-lg-4 flex-shrink-1">
                        <a href="#" class="card bg-transparent border-0 h-100 align-items-center text-center">
                          <img src="/assets/images/芝麻甜甜.png" class="img-classic img-fluid h-100" alt="芝麻甜甜">
                          <div class="my-1 my-lg-0">
                            <h5 class="fs-7 fs-lg-5 text-neutral-100 fw-bold mb-1 mb-lg-0">芝麻甜甜</h5>
                            <p class="fs-7 fs-lg-6 text-primary-80 lh-base">$ 65/入</p>
                          </div>
                        </a>
                      </div>
                      <div class="recommend-commodity col-6 col-lg-4 flex-shrink-1">
                        <a href="#" class="card bg-transparent border-0 h-100 align-items-center text-center">
                          <img src="/assets/images/抹茶甜甜.png" class="img-classic img-fluid h-100" alt="抹茶甜甜">
                          <div class="my-1 my-lg-0">
                            <h5 class="fs-7 fs-lg-5 text-neutral-100 fw-bold mb-1 mb-lg-0">抹茶甜甜</h5>
                            <p class="fs-7 fs-lg-6 text-primary-80 lh-base">$ 65/入</p>
                          </div>
                        </a>
                      </div>
                      <div class="recommend-commodity col-6 col-lg-4 flex-shrink-1">
                        <a href="#" class="card bg-transparent border-0 h-100 align-items-center text-center">
                          <img src="/assets/images/生乳檸檬甜甜.png" class="img-classic img-fluid h-100" alt="生乳檸檬甜甜">
                          <div class="my-1 my-lg-0">
                            <h5 class="fs-7 fs-lg-5 text-neutral-100 fw-bold mb-1 mb-lg-0">生乳檸檬甜甜</h5>
                            <p class="fs-7 fs-lg-6 text-primary-80 lh-base">$ 65/入</p>
                          </div>
                        </a>
                      </div>
                      <div class="recommend-commodity col-6 col-lg-4 flex-shrink-1">
                        <a href="#" class="card bg-transparent border-0 h-100 align-items-center text-center">
                          <img src="/assets/images/焦糖可可甜甜.png" class="img-classic img-fluid h-100" alt="焦糖可可甜甜">
                          <div class="my-1 my-lg-0">
                            <h5 class="fs-7 fs-lg-5 text-neutral-100 fw-bold mb-1 mb-lg-0">焦糖可可甜甜</h5>
                            <p class="fs-7 fs-lg-6 text-primary-80 lh-base">$ 65/入</p>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>

    <!-- slogan -->
    <section class="slogan-section d-flex justify-content-center align-items-center justify-content-lg-start">
      <div class="container-lg">
        <div class="slogan-text text-center text-lg-start">
          <h2 class="fs-5 fs-lg-2 fw-bold mb-4 mb-lg-6">讓甜甜熊貓溫暖你的心！</h2>
          <p class="fs-7 fs-lg-4 mb-10 mb-lg-14">快來看看我們的甜點清單，讓美味一次擁有。</p>
          <button class="btn bg-white text-primary-80 border-primary-80 px-8 py-4">前往商品列表</button>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <script type="module" src="../main.js"></script>
</body>

</html>