<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS/Js -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!-- ICON -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />

    <title>甜甜熊貓｜TenTen Donut - 甜點專賣</title>
  </head>
  <body>
    <div id="userHeader">
      <!-- 已登入 -->
      <%- include('./layout/header-profile'); -%>
    </div>
    <div id="guestHeader">
      <!-- 未登入時顯示 -->
      <%- include('./layout/header'); -%>
    </div>

    <main class="login-bg border-top border-bottom">
      <div class="login container py-lg-14 py-8 px-3 px-lg-0">
        <div class="row d-lg-flex">
          <!-- 照片區 -->
          <aside class="col-lg-4 pe-5 d-none d-lg-block">
            <div class="swiper mySwiper br-24">
              <div class="swiper-wrapper">
                <!-- 照片 1 -->
                <div class="swiper-slide login-card border-0">
                  <img
                    src="/assets/images/login-4.png"
                    alt=""
                    class="login-img h-100 w-100 object-fit-cover"
                  />
                </div>
                <!-- 照片 2 -->
                <div class="swiper-slide login-card border-0">
                  <img
                    src="/assets/images/login-2.jpg"
                    alt=""
                    class="login-img h-100 w-100 object-fit-cover"
                  />
                </div>
                <!-- 照片 3 -->
                <div class="swiper-slide login-card border-0">
                  <img
                    src="/assets/images/login-3.png"
                    alt=""
                    class="login-img h-100 w-100 object-fit-cover"
                  />
                </div>
              </div>
            </div>
          </aside>
          <!-- 會員登入資訊 -->
          <form class="col-lg-8 ps-lg-5 px-3" id="loginForm">
            <!-- 內容：白底背景 -->
            <div
              class="card br-lg-24 border-0 d-flex flex-column justify-content-center align-items-center px-lg-8 py-lg-18 h-100 w-100"
            >
              <h4 class="fs-2 fw-bold mb-lg-10 text-neutral-100 mb-6">
                歡迎回來！
              </h4>
              <!-- 電子信箱 -->
              <div class="w-100 mb-8 mb-lg-6">
                <p class="fs-lg-9 fs-7 text-neutral-100 ps-2 mb-2">
                  電子信箱<span class="text-primary-40">*</span>
                </p>
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control br-8 input-bg px-5"
                    id="emailInput"
                    placeholder="name@example.com"
                    required
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(\.[a-zA-Z]{2,})?$"
                  />
                  <label for="emailInput" class="px-5"
                    >例如：example@email.com</label
                  >
                </div>
              </div>
              <!-- 密碼 -->
              <div class="w-100 mb-8 mb-lg-6">
                <p class="fs-lg-9 fs-7 text-neutral-100 ps-2 mb-2">
                  密碼<span class="text-primary-40">*</span>
                </p>
                <div class="form-floating">
                  <input
                    type="password"
                    class="form-control br-8 input-bg px-5 mb-2"
                    id="passwordInput"
                    placeholder="Password"
                    pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{8,}$"
                    required
                  />
                  <label for="passwordInput" class="px-5"
                    >例如：Aa12345678</label
                  >
                </div>
                <!-- 記住帳號＋忘記密碼 -->
                <div class="d-flex align-items-center justify-content-between">
                  <div class="form-check m-0">
                    <input
                      class="form-check-input border-primary-40 p-2"
                      type="checkbox"
                      value=""
                      id="flexCheckChecked"
                      checked
                    />
                    <label
                      class="fs-lg-9 fs-7 form-check-label align-text-bottom text-primary-40"
                      for="flexCheckChecked"
                    >
                      記住帳號
                    </label>
                  </div>
                  <a href="/TenTenPanda/pages/password.html" class="fs-lg-9 fs-7 link">
                    忘記密碼？
                  </a>
                </div>
              </div>
              <!-- 會員登入按鈕＋註冊連結 -->
              <div class="w-100 mb-8 mb-lg-6">
                <!-- 會員登入 -->
                <div class="mb-2">
                  <!-- 登入按鈕 -->
                  <button
                    type="button"
                    class="btn login-btn fs-6 br-8 w-100 py-4"
                    data-bs-toggle="modal"
                    data-bs-target="#loginModal"
                    id="loginBtn"
                  >
                    立即登入
                  </button>
                  <!-- 登入畫面 -->
                  <div
                    class="modal fade"
                    id="loginModal"
                    tabindex="-1"
                    aria-labelledby="loginModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog modal-dialog-centered mx-auto">
                      <div
                        class="modal-content br-32 p-10 d-flex border-0 justify-content-center align-items-center shadow"
                      >
                        <div class="modal-body p-0 text-center">
                          <!-- 登入成功圖標 -->
                          <span
                            class="badge rounded-circle bg-primary-20 p-lg-6 p-4 mb-5"
                          >
                            <span
                              class="material-symbols-outlined check-icon fw-bold text-primary-40 d-flex justify-content-center align-items-center"
                            >
                              check
                            </span>
                          </span>
                          <p class="text-neutral-100 fw-bold fs-lg-5 fs-6">
                            登入成功！
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 註冊連結 -->
                <p class="text-neutral-100">
                  還不是會員嗎？
                  <a href="/TenTenPanda/pages/join.html" class="link">立即註冊</a>
                </p>
              </div>
            
            </div>
          </form>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>
    <script>
      const user = document.getElementById("userHeader");
      const guest = document.getElementById("guestHeader");
      let login_state = localStorage.getItem("isLogin") === "true";
      function updateUI() {
        let login_state = localStorage.getItem("isLogin");
        if (login_state) {
          guest.style.display = "none";
          user.style.display = "block";
        } else {
          guest.style.display = "block";
          user.style.display = "none";
        }
      }
      updateUI();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../main.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var swiper = new Swiper(".mySwiper", {
          loop: true,
          initialSlide: 0, // 強制從第一張開始
          slidesPerView: 1,   // ⭐ 每次只顯示一張
          autoplay: {
            delay: 2000,
            disableOnInteraction: false,
          },
          on: {
            afterInit: function () {
              this.slideToLoop(0, 0); // 初始化後跳到真正的第一張
            },
          },
        });
      });
    </script>
  </body>
</html>
