<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS/Js -->
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- ICON -->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>甜甜熊貓｜TenTen Donut - 填寫收件資料</title>
  </head>
  <body>
    <!-- 這裡先用 true (登入成功) /  false (未登入) 切換版型 -->
    <% if (true) { %>
    <!-- 登入成功時顯示 -->
    <%- include('./layout/header-profile'); -%> <% } else { %>
    <!-- 未登入時顯示 -->
    <%- include('./layout/header'); -%> <% } %>

    <main class="order-bg">
      <section class="py-lg-14 py-8 container">
        <!-- 進度條 -->
        <ol class="d-flex justify-content-between p-lg-8 px-2 position-relative mb-lg-10 mb-8">
          <li class="d-flex flex-column align-items-center">
            <div class="bg-primary-40 mb-lg-3 mb-2 order-progress-dot rounded-circle d-flex justify-content-center align-items-center">
              <i class="bi bi-check2 text-white fs-lg-5 fs-7"></i>
            </div>
            <p class="fw-bold fs-lg-6 fs-8 text-primary-40">查看購物車</p>      
          </li>
          <li class="d-flex flex-column align-items-center">
            <div class="bg-primary-40 mb-lg-3 mb-2 order-progress-dot rounded-circle d-flex justify-content-center align-items-center">
              <p class="text-white fs-lg-6 fs-8" style="margin-left: 1px;">2</p>
            </div>
            <p class="fw-bold fs-lg-6 fs-8 text-primary-40">填寫收件資料</p>
          </li>
          <li class="d-flex flex-column align-items-center">
            <div class="bg-white border border-neutral-40 mb-lg-3 mb-2 order-progress-dot rounded-circle d-flex justify-content-center align-items-center">
              <p class="text-neutral-60 fs-lg-6 fs-8" style="margin-left: 1px;">3</p>
            </div>
            <p class="fw-bold fs-lg-6 fs-8 text-neutral-60">確認付款</p>
          </li>
          <!-- 線條 -->
          <div class="order-progress-leftline bg-primary-40 position-absolute translate-middle-y"></div> 
          <div class="order-progress-rightline bg-neutral-40 position-absolute translate-middle-y"></div> 
        </ol> 
        <!-- 訂單資訊 -->
        <div class="row">
          <div class="col-lg-8">
            <div class="bg-white p-lg-8 rounded-4">
              <h1 class="fw-bold text-neutral-100 fs-4 mb-6">收件人資訊</h1>
              <div class="d-flex flex-column gap-8 gap-lg-6">
                <div class="d-flex gap-lg-6 gap-8 flex-column flex-lg-row">
                  <div class="w-100">
                    <label for="order-name" class="lh-base ps-2 fs-lg-9 fs-7 mb-2">收件人姓名</label>
                    <input type="text" class="form-control" id="order-name" placeholder="例如：王小明">
                  </div>
                  <div class="w-100">
                    <label for="order-phone" class="lh-base ps-2 fs-lg-9 fs-7 mb-2">收件人電話</label>
                    <input type="text" class="form-control" id="order-phone" placeholder="例如：0912-345-678">
                  </div>
                </div>
                <div class="w-100">
                  <label for="order-email" class="lh-base ps-2 fs-lg-9 fs-7 mb-2">電子信箱</label>
                  <input type="email" class="form-control" id="order-email" placeholder="例如：example@email.com">
                </div>
                <div class="w-100">
                  <label for="order-address" class="lh-base ps-2 fs-lg-9 fs-7 mb-2">收件地址</label>
                  <input type="text" class="form-control" id="order-address" placeholder="例如：忠孝東路四段 123 號 5 樓">
                </div>
                <div>
                  <p class="lh-base ps-2 fs-lg-9 fs-7 mb-2">付款方式</p>                               
                  <!-- toggle control -->
                  <input type="radio" name="pay" id="pay-none" checked hidden>
                  <input type="radio" name="pay" id="pay-cod" hidden>             
                  <input type="radio" name="pay" id="pay-online" hidden>
                  <input type="checkbox" id="pay-toggle" hidden>
                  <!-- 輸入框 -->
                  <div class="w-100 position-relative css-select">
                    <!-- trigger -->
                    <label for="pay-toggle" class="d-flex justify-content-between align-items-center select-trigger">
                      <span class="selected">
                        <span class="sel-none text-neutral-60">請選擇付款方式</span>
                        <span class="sel-cod">貨到付款</span>
                        <span class="sel-online">線上刷卡</span>
                      </span>
                      <span class="material-symbols-outlined pay-dropdown-icon">stat_1</span>
                    </label>
                    <!-- option 列表 -->
                    <div class="dropdown rounded-3 position-absolute options px-5">                      
                      <label for="pay-cod" class="d-block py-4 option">貨到付款</label>
                      <label for="pay-online" class="d-block py-4 option">線上刷卡</label>
                    </div>
                  </div>
                  <!-- 信用卡資訊 -->
                  <label for="pay-online" hidden>線上刷卡</label>
                  <div class="pay-online-input mt-lg-6 mt-8">
                    <div class="pay-online-input-creditcard">
                      <label for="order-creditcard" class="lh-base ps-2 fs-lg-9 fs-7 mb-2">信用卡卡號</label>
                      <div class="d-flex gap-lg-2 gap-1 align-items-center justify-content-start">
                        <input type="text" class="form-control text-center fs-7 fs-lg-9 px-4" id="order-creditcard" placeholder="1234" maxlength="4" minlength="4">
                        <i class="bi bi-dash-lg text-neutral-60 d-lg-block d-none"></i>
                        <i class="bi bi-dash text-neutral-60 d-block d-lg-none"></i>
                        <input type="text" class="form-control text-center fs-7 fs-lg-9 px-4" id="order-creditcard" placeholder="5678" maxlength="4" minlength="4">
                        <i class="bi bi-dash-lg text-neutral-60 d-lg-block d-none"></i>
                        <i class="bi bi-dash text-neutral-60 d-block d-lg-none"></i>
                        <input type="text" class="form-control text-center fs-7 fs-lg-9 px-4" id="order-creditcard" placeholder="9012" maxlength="4" minlength="4">
                        <i class="bi bi-dash-lg text-neutral-60 d-lg-block d-none"></i>
                        <i class="bi bi-dash text-neutral-60 d-block d-lg-none"></i>
                        <input type="text" class="form-control text-center fs-7 fs-lg-9 px-4" id="order-creditcard" placeholder="3456" maxlength="4" minlength="4">
                      </div>
                    </div>
                    <div class="pay-online-input-creditcard-date mt-lg-6 mt-8">
                      <div class="d-flex gap-lg-6 gap-4 justify-content-start align-items-start">
                        <div>
                          <label for="order-creditcard-date" class="lh-base ps-2 fs-lg-9 fs-7 mb-2">有效期限</label>
                          <input type="text" class="form-control" id="order-creditcard" placeholder="例如：MMYY" maxlength="4" minlength="4">
                        </div>
                        <div>
                          <label for="order-creditcard-date" class="lh-base ps-2 fs-lg-9 fs-7 mb-2">安全碼 (CVV / CVC)</label>
                          <input type="text" class="form-control" id="order-creditcard" placeholder="例如：000" maxlength="3" minlength="3">
                        </div>
                        
                      </div>
                      
                    </div>
                  </div>                               
                </div>
                <div>
                  <label for="order-card" class="lh-base ps-2 fs-lg-9 fs-7 mb-2">其他需求</label>
                  <textarea class="form-control mb-lg-5 pb-0" id="order-card" rows="8" placeholder="例如：甜點禮盒請幫我附上生日小卡。（最多可輸入 150 字）" maxlength="150"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mt-8 mt-lg-0">
            <div class="orer-details-bg py-lg-8 py-6 px-4 px-lg-6 rounded-4">
               <h2 class="fw-bold fs-4 text-neutral-100">訂單明細</h2>
               <div class="mt-5 mt-lg-8 d-flex flex-column gap-lg-5 gap-1 pb-2 pb-lg-6 border-bottom border-neutral-40">
                <div class="d-flex flex-column gap-1 py-2">
                  <h3 class="fs-6 text-neutral-100">莓果甜甜</h3>
                  <div class="d-flex justify-content-between fs-6">
                    <p class="orer-details-num-color">x2</p>
                    <p>NT$  130</p>
                  </div>
                </div>
                <div class="d-flex flex-column gap-1 py-2">
                  <h3 class="fs-6 text-neutral-100">白雪綿霜莓</h3>
                  <div class="d-flex justify-content-between fs-6">
                    <p class="orer-details-num-color">x1</p>
                    <p>NT$  95</p>
                  </div>
                </div>
                <div class="d-flex flex-column gap-1 py-2">
                  <h3 class="fs-6 text-neutral-100">莓果夾心</h3>
                  <div class="d-flex justify-content-between fs-6">
                    <p class="orer-details-num-color">x1</p>
                    <p>NT$  95</p>
                  </div>
                </div>
               </div>
               <div class="pt-0 pt-lg-2">
                <div class="pt-4">
                  <h3 class="fw-bold fs-lg-4 fs-5 text-neutral-100 pb-lg-4 pb-3">合計</h3>
                  <div class="py-6 d-flex flex-column gap-4 border-bottom border-neutral-40 mb-3 mb-lg-4">
                    <div class="d-flex justify-content-between fs-6 text-neutral-100">
                      <p>小計</p>
                      <p>NT$  320</p>
                    </div>
                    <div class="d-flex justify-content-between fs-6 text-neutral-100">
                      <p>運費</p>
                      <p>NT$  65</p>
                    </div>
                    <div class="d-flex justify-content-between fs-6 text-neutral-100">
                      <p>優惠折扣</p>
                      <p>− NT$  100</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h3 class="fs-4 fs-lg-6 text-neutral-100 fw-bold">總計</h3>
                    <p class="fs-5 text-primary-80 fw-bold">NT$  285</p>
                  </div>
                </div>
               </div>
            </div>
            <div class="mt-lg-10 mt-8 d-flex flex-column justify-content-center align-items-center gap-4 gap-lg-6">
              <a href="order-success.html" class="btn btn-primary-40 text-white w-100 py-4 fs-6">確認付款</a>
              <a href="cart.html" class="btn btn-outline-primary-80 w-100 py-4 fs-6">回到上一步</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    
    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
